<% if is_admin? %>
<div class="row">
  <div class="col-sm-2">
    <p><%= button_to "New Attraction", new_attraction_path, method: 'get', class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>
<% end %>
<div class="row">
    <% @attractions.each do |attraction| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://dummyimage.com/240x200/29db94/000000.png&text=Ride" alt="amusement park ride">
          <div class="caption">
            <h3><%= attraction.name %></h3>
            <div class="list-group">
              <ul class="list-group__list">
                <h5 class="list-group-item active">
                  Ride Info:
                </h5>
                <li class="list-group-item">Ticket Price: <%= attraction.tickets %></li>
                <li class="list-group-item">Nausea Rating: <%= attraction.nausea_rating %></li>
                <li class="list-group-item">Happiness Rating: <%= attraction.happiness_rating %></li>
                <li class="list-group-item list-group-item-danger">You must be <%= attraction.min_height %> inches tall to ride this attraction.</li>
              </ul>
            </div>
            <p><a href="<%= attraction_path(attraction) %>" class="btn btn-success" role="button">Go on <%= attraction.name %></a></p>
          </div>
        </div>
      </div>
    <% end %>
</div>
